<header>
    <h4>
        <a href="/"><button>Home page</button></a>
        <nav>
            <% if (user) { %>
                <a href="/create-post"><button>Create Post</button></a>
                <a href="/logout"><button>Logout</button></a>
            <% } else { %>
                <a href="/login"><button>Log in</button></a>
            <% } %>
        </nav>
    </h4>
</header> 