<header>
    <h2>
        <a href="/">Home page</a>
        <nav>
            <% if (user) { %>
                <a href="/create-post">Create Post</a>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Log in</a>
            <% } %>
        </nav>
    </h2>
</header> 