<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
<body>
<header>
   <h4><a href="/"><button>Homepage</button></a></h4>
    <h4>Here You  Can Create Posts</h4>
</header>
    
    <main>
            <h2>Welcome To The Posts</h2>
          
            <% if (errors && errors.length > 0) { %>
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li><%= error %></li>
                    <% }); %>
                </ul>
            <% } %>
            <form action="/create-post" method="POST">
                <fieldset>
                    <legend>
                        Create Post
                    </legend>
                    <label for="title"><small>
                        Title
                    </small></label>
                    <input type="text" id="title" name="title" autocomplete="off" >
                    
                    <label for="content"><small>
                        Content
                    </small></label>
                    <textarea id="content" name="content" autocomplete="off"></textarea>
                    <br>
                    <button type="submit">Create Post</button>
                </fieldset>
    </main>
    
    <%- include('includes/footer') %>
</body>
</html>
