<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2>
            <a href="/">Home page</a>
            <nav>
               <h1>Welcome back</h1>
            </nav>
        </h2>
    </header>
    <main>
        <form action="notice" method="post">
        <fieldset>
         <legend>
           LogIn with username
         </legend>
         <label for="username"><small>
             username
         </small></label>
         <input type="text" id="username" autocomplete="off">
         
         <label for="password"><small>
             Password
         </small></label>
         <input type="password" id="password" autocomplete="off">
         <br>
         <button>login</button>
        </fieldset>
    </form>
     </main>

    <footer>
        <small>
            &copy; All Rights Reserved For MoLii
        </small>
    </footer>
</body>
</html>