<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
</head>
<body>
    <header>
        <h4>
            <a href="/"><button>Homepage</button></a>
           
            <p>If you have account you can login here</p>
            
           </h4> 
        
    </header> 

    <main>
        <form action="/login" method="post">
            <fieldset>
                <legend>Log in with username</legend>
                <label for="username"><small>Username</small></label>
                <input type="text" id="username" name="username" autocomplete="off" required value="<%= user ? user.username : '' %>">

                <label for="password"><small>Password</small></label>
                <input type="password" id="password" name="password" autocomplete="off" required>

                <!-- Displaying error messages -->
                <% if (errors && errors.length > 0) { %>
                    <div class="error-messages">
                        <ul>
                            <% errors.forEach(function(error) { %>
                                <li><%= error %></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } %>

                <br>
                <button type="submit">Login</button> 
               
            </fieldset>
        </form>
        <h4>Don't Have One</h4>
         <a href="/"><button>SignUp</button></a>
    </main>

    <%- include('includes/footer') %>
</body>
</html>
